---
title: Regattas
layout: layout
---
%section.mod-header-nav
  %header
    %h1
      Regattas
    = link_to "", "https://itunes.apple.com/au/app/tacktical/id647500092?mt=8&uo=4", target: "itunes_store"
  %nav
    %ul
      %li= link_to 'Moreton Bay Practice',  '/regattas/moreton_bay_practice_27-7-2013'
      %li= link_to 'MooLooLaBa Etchells 2013',  '/regattas/mooloolaba_etchells_2013'

%section.mod-page
  %article.splash
    %h1 Real Time Updates
    %p Watch the competition unfold in real time.
    %p Follow the race, see the clashes.

  %article.splash
    %h1 Speed Comparison
    %p Compare boat speeds in real time.
    %p Which boat's picked the shifts?
    %p Who gained on that leg?

  %article.splash
    %h1 Want in?
    %p Want to see this for your fleet?
    %p Get in touch!

  %article.how-it-works#about
    %h1
      What is this?
    %p
      This page links to events where tracks were recorded via Tacktical on iPhones.
      At Tacktical we want to help track your performance over time,
      to help you find out how much you've improved this season. Let you analyse your sail after
      the race, who was faster, who had the rights?
    %p
      You can find out more at #{ link_to "http://tacktic.al", "http://tacktic.al" } or
      download the tracker on the app store to join in!
    %p
      = link_to "", "https://itunes.apple.com/au/app/tacktical/id647500092?mt=8&uo=4", target: "itunes_store", style: "display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/htmlResources/assets/images/web/linkmaker/badge_appstore-lrg.svg);}"
