%footer
  %section.mod-mailing-list
    = partial 'mailing_list'
    .mod-social
      = link_to "T",  "https://twitter.com/gettacktical",                        class: :twitter,  title: 'Twitter'
      = link_to "F", "https://www.facebook.com/pages/Tacktical/176975892434153", class: :facebook, title: 'Facebook'
  %p
    &copy;2013. Tacktical is built by
    = link_to "Crafted Code", "http://craftedcode.co.uk"
  %p
    Suggestions? Questions? Comments? Send us an
    = link_to "email", "mailto:contact@tacktical.co.uk?subject=Feedback"
