%footer
  %section.mod-mailing-list
    = partial 'mailing_list'
    %ul
      %li= link_to "Twitter",  "https://twitter.com/gettacktical"
      %li= link_to "Feedback", "mailto:contact@tacktical.co.uk?subject=Feedback"
      %li= link_to "Facebook", "https://www.facebook.com/pages/Tacktical/176975892434153"
  %p
    &copy;2013. Tacktical is built by
    = link_to "Crafted Code", "http://craftedcode.co.uk"
